langchain
chainlit
pydantic
openai
google-generativeai
python-dotenv
openai
faiss-cpu
groq
langchain-groq
PyPDF2
langchain_google_genai
streamlit
langchain_community
pypdf
google-cloud-aiplatform>=1.38